*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: relative;
}

/* Global CSS */
.obj-width {
    max-width: 1200px;
    margin: auto;
}

nav {
    background-color: rgb(7, 63, 116);
    box-shadow: 0px 5px 17px rgb(3, 56, 88);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.3rem;
}

.navbar .logo {
    color: aliceblue;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 2.2rem;
}

#Search-Input {
    max-width: 400px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    color: black;
}

#Search-Button {
    padding: 10px 20px;
    background-color: #107c31;
    color: bisque;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px;
}

#Blog-Container {
    padding: 3rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.Blog-Card {
    width: 280px;
    border: 1px solid #072b16;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
}

.Blog-Card:hover {
    box-shadow: 4px 4px 10px rgb(96, 11, 129);
}

.Blog-Card img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.Blog-Card h2 {
    color: #141414;
    font-size: 1.7rem;
    font-weight: 500;
    padding: 0.7rem;
}

.Blog-Card p {
    font-size: 1.2rem;
    padding: 0.7rem;
}

@media(max-width: 500px) {
    .navbar .logo {
        font-size: 1.8rem;
    }
    #Search-Input {
        max-width: 150px;
        padding: 10px 10px;
    }
    .Blog-Card {
        width: 100%;
    }
}